In [26]:
df.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
dtype: int64

In [27]:
df.describe()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition,multiple_deliveries,Time_taken (min)
count,43730.000000,43676.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,44591.000000,45584.000000
mean,29.566911,4.633774,17.017948,70.229684,17.465480,70.844161,1.023385,0.744635,26.293963
std,5.815064,0.334744,8.185674,22.885575,7.335562,21.120578,0.839055,0.572510,9.384298
min,15.000000,1.000000,-30.905562,-88.366217,0.010000,0.010000,0.000000,0.000000,10.000000
25%,25.000000,4.500000,12.933284,73.170000,12.988453,73.280000,0.000000,0.000000,19.000000
50%,30.000000,4.700000,18.551440,75.897963,18.633934,76.002574,1.000000,1.000000,26.000000
75%,35.000000,4.900000,22.728163,78.044095,22.785049,78.107044,2.000000,1.000000,32.000000
max,50.000000,6.000000,30.914057,88.433452,31.054057,88.563452,3.000000,3.000000,54.000000

In [28]:
df.drop('ID', axis=1, inplace=True)

In [29]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'], dayfirst=True)

# dayfirst : day-month-year

In [30]:
df['year'] = df['Order_Date'].dt.year
df['month'] = df['Order_Date'].dt.month
df['day'] = df['Order_Date'].dt.day

In [31]:
# removing the order date column
df.drop('Order_Date',axis=1, inplace=True)

In [32]:
df.head()

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weather_conditions,...,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),year,month,day
0,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,21:55,22:10,Fog,...,2,Snack,motorcycle,3.0,No,Metropolitian,46,2022,2,12
1,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,14:55,15:05,Stormy,...,1,Meal,motorcycle,1.0,No,Metropolitian,23,2022,2,13
2,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,17:30,17:40,Sandstorms,...,1,Drinks,scooter,1.0,No,Metropolitian,21,2022,3,4
3,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,09:20,09:30,Sandstorms,...,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2022,2,13
4,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,19:50,20:05,Fog,...,1,Snack,scooter,1.0,No,Metropolitian,41,2022,2,14

In [33]:
# lets create some features with the help of our existing features

feature = []
dtypes = []
count = []
unique = []
missing = []
missing_percentage=[]

for column in df.columns:
    feature.append(column)
    count.append(len(df[column]))
    missing.append(df[column].isnull().sum())
    unique.append(df[column].nunique())
    missing_percentage.append((df[column].isnull().sum() / df.shape[0]) * 100)
    dtypes.append(df[column].dtypes)
    
dataframe=pd.DataFrame({'feature':feature,
             'count':count,
             'missing':missing,
             'nunique':unique,
              'missing_percentage':missing_percentage,
              'dtypes':dtypes
              
             }) 
dataframe.set_index('feature')

,count,missing,nunique,missing_percentage,dtypes
feature,,,,,
Delivery_person_ID,45584,0,1320,0.000000,object
Delivery_person_Age,45584,1854,22,4.067217,float64
Delivery_person_Ratings,45584,1908,28,4.185679,float64
Restaurant_latitude,45584,0,657,0.000000,float64
Restaurant_longitude,45584,0,518,0.000000,float64
Delivery_location_latitude,45584,0,4373,0.000000,float64
Delivery_location_longitude,45584,0,4373,0.000000,float64
Time_Orderd,45584,1731,176,3.797385,object
Time_Order_picked,45584,0,193,0.000000,object
Weather_conditions,45584,616,6,1.351351,object
Road_traffic_density,45584,601,4,1.318445,object
Vehicle_condition,45584,0,4,0.000000,int64
Type_of_order,45584,0,4,0.000000,object
Type_of_vehicle,45584,0,4,0.000000,object
multiple_deliveries,45584,993,4,2.178396,float64
Festival,45584,228,2,0.500176,object
City,45584,1200,3,2.632503,object
Time_taken (min),45584,0,45,0.000000,int64
year,45584,0,1,0.000000,int32
month,45584,0,3,0.000000,int32
day,45584,0,30,0.000000,int32

In [34]:
df.drop('Delivery_person_Age', axis=1, inplace=True)

In [35]:
# Convert 'Time_Orderd' and 'Time_Order_picked' columns to datetime and drop rows with invalid formats
df['Time_Orderd'] = pd.to_datetime(df['Time_Orderd'], format='%H:%M', errors='coerce')
df['Time_Order_picked'] = pd.to_datetime(df['Time_Order_picked'], format='%H:%M', errors='coerce')

# Drop rows with NaT values in either of the time columns
df_cleaned = df.dropna(subset=['Time_Orderd', 'Time_Order_picked'])

# Convert back to 'HH:MM' format as strings
df_cleaned['Time_Orderd'] = df_cleaned['Time_Orderd'].dt.strftime('%H:%M')
df_cleaned['Time_Order_picked'] = df_cleaned['Time_Order_picked'].dt.strftime('%H:%M')

#import ace_tools as tools; tools.display_dataframe_to_user(name="Cleaned Dataset", dataframe=df_cleaned)

# Display the first few rows of the cleaned dataframe
df_cleaned.head()

,Delivery_person_ID,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),year,month,day
0,DEHRES17DEL01,4.2,30.327968,78.046106,30.397968,78.116106,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,2022,2,12
1,KOCRES16DEL01,4.7,10.003064,76.307589,10.043064,76.347589,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,2022,2,13
2,PUNERES13DEL03,4.7,18.562450,73.916619,18.652450,74.006619,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,2022,3,4
3,LUDHRES15DEL02,4.3,30.899584,75.809346,30.919584,75.829346,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2022,2,13
4,KNPRES14DEL02,4.7,26.463504,80.372929,26.593504,80.502929,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,2022,2,14

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_ID           45584 non-null  object
 1   Delivery_person_Ratings      43676 non-null  float64
 2   Restaurant_latitude          45584 non-null  float64
 3   Restaurant_longitude         45584 non-null  float64
 4   Delivery_location_latitude   45584 non-null  float64
 5   Delivery_location_longitude  45584 non-null  float64
 6   Time_Orderd                  39785 non-null  datetime64[ns]
 7   Time_Order_picked            40577 non-null  datetime64[ns]
 8   Weather_conditions           44968 non-null  object
 9   Road_traffic_density         44983 non-null  object
 10  Vehicle_condition            45584 non-null  int64
 11  Type_of_order                45584 non-null  object
 12  Type_of_vehicle              45584 non-null  object
 13  multiple_deliveries          44591 non-null  float64
 14  Festival                     45356 non-null  object
 15  City                         44384 non-null  object
 16  Time_taken (min)             45584 non-null  int64
 17  year                         45584 non-null  int32
 18  month                        45584 non-null  int32
 19  day                          45584 non-null  int32
dtypes: datetime64[ns](2), float64(6), int32(3), int64(2), object(7)
memory usage: 6.4+ MB

# Modify Time_Orderd and Time_Orderd_picked columns

In [37]:
df.dropna(subset=['Time_Orderd'],inplace=True) #  dropna() method removes the rows that contains NULL values.

In [38]:
df['Time_Orderd'].sample(10)

42650   1900-01-01 10:10:00
29427   1900-01-01 22:15:00
42208   1900-01-01 23:30:00
14858   1900-01-01 09:40:00
34945   1900-01-01 11:30:00
4218    1900-01-01 22:25:00
273     1900-01-01 22:20:00
18606   1900-01-01 23:20:00
10269   1900-01-01 19:55:00
6923    1900-01-01 10:30:00
Name: Time_Orderd, dtype: datetime64[ns]

In [39]:
def convert_to_hhmm_as_report(time_value):
    formats = ['%H:%M', '%I:%M %p', '%H:%M:%S', '%I:%M:%S %p']  # Add more formats if needed
    for fmt in formats:
        try:
            return datetime.strptime(time_value, fmt).strftime('%H:%M')
        except ValueError:
            continue
    return 'Invalid'

In [41]:
# Apply the function to the 'Time_Orderd' and 'Time_Order_picked' columns
df['cleaned_Time_Orderd'] = df['Time_Orderd'].apply(convert_to_hhmm_as_report)
df['cleaned_Time_Orderd_picked'] = df['Time_Order_picked'].apply(convert_to_hhmm_as_report)


# Find and print invalid time values
invalid_times_for_Time_Orderd = df[df['cleaned_Time_Orderd'] == 'Invalid']['Time_Orderd']
invalid_times_for_Time_Orderd_picked = df[df['cleaned_Time_Orderd_picked'] == 'Invalid']['Time_Order_picked']
print(f"Invalid Time Values of Time_Orderd: {len(invalid_times_for_Time_Orderd)}")
print(f"Invalid Time Values of Time_Orderd picked: {len(invalid_times_for_Time_Orderd_picked)}")
print(invalid_times_for_Time_Orderd)
print(invalid_times_for_Time_Orderd_picked)

TypeError: strptime() argument 1 must be str, not Timestamp

### See the invalid values in excel file

In [ ]:
file_path_of_invalid_times_Time_Orderd = 'invalid_times_Time_Orderd.xlsx'
file_path_of_invalid_times_Time_Orderd_picked = 'invalid_times_Time_Orderd_picked.xlsx'


# Check if file paths exist and remove them if they do
if os.path.exists(file_path_of_invalid_times_Time_Orderd):
    os.remove(file_path_of_invalid_times_Time_Orderd)
if os.path.exists(file_path_of_invalid_times_Time_Orderd_picked):
    os.remove(file_path_of_invalid_times_Time_Orderd_picked)


# Save invalid times to Excel files
invalid_times_for_Time_Orderd.to_excel(file_path_of_invalid_times_Time_Orderd, index=False)
invalid_times_for_Time_Orderd_picked.to_excel(file_path_of_invalid_times_Time_Orderd_picked, index=False)

### Clean the columns

In [ ]:
# Define a function to clean the time format
def clean_time_format(time_value):
    import re
    # Check if the value is in the weird format (including single-digit values)
    if re.match(r'^\d\.\d+$', time_value) or re.match(r'^\d$', time_value):
        return None  # Return None to indicate that this row should be removed
    
    # Check if the value is in 'HH:MM:SS' format
    if re.match(r'^\d{1,2}:\d{2}:\d{2}$', time_value):
        time_parts = time_value.split(':')
        hours, minutes = time_parts[0], time_parts[1]
        hours = hours.zfill(2)
        minutes = minutes.zfill(2)
        return f"{hours}:{minutes}"
    
    # Normalize time format to HH:MM
    time_parts = time_value.split(':')
    if len(time_parts) == 2:
        hours, minutes = time_parts
        hours = hours.zfill(2)
        minutes = minutes.zfill(2)
        return f"{hours}:{minutes}"
    
    return time_value  # Return the original value if it doesn't match expected formats

In [ ]:
# Apply the cleaning function to the 'Time_Orderd' column
df['Time_Orderd'] = df['Time_Orderd'].apply(clean_time_format)
df['Time_Order_picked'] = df['Time_Order_picked'].apply(clean_time_format)

In [ ]:
# Remove rows with None values in 'Time_Orderd' and 'Time_Order_picked'
df = df.dropna(subset=['Time_Orderd', 'Time_Order_picked'])

In [ ]:
df

,Delivery_person_ID,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,...,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),year,month,day,cleaned_Time_Orderd,cleaned_Time_Orderd_picked
0,DEHRES17DEL01,4.2,30.327968,78.046106,30.397968,78.116106,21:55,22:10,Fog,Jam,...,motorcycle,3.0,No,Metropolitian,46,2022,2,12,21:55,22:10
1,KOCRES16DEL01,4.7,10.003064,76.307589,10.043064,76.347589,14:55,15:05,Stormy,High,...,motorcycle,1.0,No,Metropolitian,23,2022,2,13,14:55,15:05
2,PUNERES13DEL03,4.7,18.562450,73.916619,18.652450,74.006619,17:30,17:40,Sandstorms,Medium,...,scooter,1.0,No,Metropolitian,21,2022,3,4,17:30,17:40
3,LUDHRES15DEL02,4.3,30.899584,75.809346,30.919584,75.829346,09:20,09:30,Sandstorms,Low,...,motorcycle,0.0,No,Metropolitian,20,2022,2,13,09:20,09:30
4,KNPRES14DEL02,4.7,26.463504,80.372929,26.593504,80.502929,19:50,20:05,Fog,Jam,...,scooter,1.0,No,Metropolitian,41,2022,2,14,19:50,20:05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,JAPRES04DEL01,4.8,26.902328,75.794257,26.912328,75.804257,11:35,11:45,Windy,High,...,motorcycle,0.0,No,Metropolitian,32,2022,3,24,11:35,11:45
45580,AGRRES16DEL01,4.6,0.000000,0.000000,0.070000,0.070000,19:55,20:10,Windy,Jam,...,motorcycle,1.0,No,Metropolitian,36,2022,2,16,19:55,20:10
45581,CHENRES08DEL03,4.9,13.022394,80.242439,13.052394,80.272439,23:50,24:05,Cloudy,Low,...,scooter,0.0,No,Metropolitian,16,2022,3,11,23:50,Invalid
45582,COIMBRES11DEL01,4.7,11.001753,76.986241,11.041753,77.026241,13:35,13:40,Cloudy,High,...,motorcycle,1.0,No,Metropolitian,26,2022,3,7,13:35,13:40
45583,RANCHIRES09DEL02,4.9,23.351058,85.325731,23.431058,85.405731,17:10,17:15,Fog,Medium,...,scooter,1.0,No,Metropolitian,36,2022,3,2,17:10,17:15

## See the values is clean

In [ ]:

# Assuming convert_to_hhmm_as_report is defined like this:
def convert_to_hhmm_as_report_with_24_00(time_str):
    try:
        hours, minutes = map(int, time_str.split(':'))
        if hours == 24 and minutes == 0:
            return '00:00'
        elif hours == 24 and 0 <= minutes < 60:
            return f'00:{minutes:02d}'
        elif 0 <= hours < 24 and 0 <= minutes < 60:
            return f'{hours:02d}:{minutes:02d}'
        else:
            return 'Invalid'
    except Exception as e:
        return 'Invalid'

In [ ]:
# Apply the function to the 'Time_Orderd' and 'Time_Order_picked' columns
df['cleaned_Time_Orderd'] = df['Time_Orderd'].apply(convert_to_hhmm_as_report_with_24_00)
df['cleaned_Time_Orderd_picked'] = df['Time_Order_picked'].apply(convert_to_hhmm_as_report_with_24_00)

In [ ]:
# Apply the function to the 'Time_Orderd' and 'Time_Order_picked' columns
df['cleaned_Time_Orderd'] = df['Time_Orderd'].apply(convert_to_hhmm_as_report)
df['cleaned_Time_Orderd_picked'] = df['Time_Order_picked'].apply(convert_to_hhmm_as_report)


# Find and print invalid time values
invalid_times_for_Time_Orderd = df[df['cleaned_Time_Orderd'] == 'Invalid']['Time_Orderd']
invalid_times_for_Time_Orderd_picked = df[df['cleaned_Time_Orderd_picked'] == 'Invalid']['Time_Order_picked']
print(f"Invalid Time Values of Time_Orderd: {len(invalid_times_for_Time_Orderd)}")
print(f"Invalid Time Values of Time_Orderd picked: {len(invalid_times_for_Time_Orderd_picked)}")
#print(invalid_times_for_Time_Orderd)
print(invalid_times_for_Time_Orderd_picked)

Invalid Time Values of Time_Orderd: 0
Invalid Time Values of Time_Orderd picked: 411
66       24:05
92       24:10
316      24:10
559      24:05
566      24:05
         ...
44839    24:10
45077    24:05
45352    24:05
45520    24:05
45581    24:05
Name: Time_Order_picked, Length: 411, dtype: object